{%- if card_item and card_item != blank -%}

  {% comment %}
      Renders a collection card

      Accepts:
      - card_collection: {Object} Collection Liquid object
      - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
      - columns: {Number}
      - extend_height: {Boolean} Card height extends to available container space. Default: false (optional)

      Usage:
      {% render 'card-collection' %}
  {% endcomment %}

   {%- liquid

    assign snippet_name = 'card-collection'
    assign snippet_classes = snippet_name
    assign snippet_id = snippet_name | append: '--' | append: card_item.id

    assign description = card_item.description | default: ''
    assign featured_image = card_item.featured_image | default: false
    assign title = card_item.title | default: ''
    assign url = card_item.url | default: ''

  -%}

  <article class="{{ snippet_classes }}" id="{{ snippet_id }}">
    {% if featured_image %}
      <div class="{{ snippet_name }}__image">
        {% if url != blank %}<a href="{{ url }}" target="_self" title="{{ title }}">{% endif %}
          {% render 'lazyload-image', alt_text: title, image: featured_image %}
        {% if url != blank %}</a>{% endif %}
      </div>
    {% endif %}
    {% if title != blank or description != blank %}
      <div class="{{ snippet_name }}__content">
        {% if title != blank %}<strong class="{{ snippet_name }}__title">{{ title }}</strong>{% endif %}
        {% if description != blank %}<div class="{{ snippet_name }}__description">{{ description }}</strong>{% endif %}
        {% if url != blank %}<a href="{{ url }}" target="_self" title="{{ title }}">Shop Now</a>{% endif %}
      </div>
    {% endif %}
  </article>

{% endif %}
