{%- liquid

  assign snippet_name = 'fifty-fifty'
  assign snippet_classes = classes | default: snippet_name
  assign snippet_id = id | default: snippet_name

  assign aos_id = snippet_id
  assign aos_delay = 250
  assign aos_delay_increment = 250

  assign aria_role = aria_role | default: ''

  assign content_heading = content_heading | default: ''
  assign content_link = content_link | default: ''
  assign content_link_target = '_self'
  assign content_message = content_message | default: ''

  if content_link contains 'http'
    assign content_link_target = '_blank'
  endif

  assign media_badge = media_badge | default: 'none'
  assign media_image = media_image | default: false

-%}

<div class="{{ snippet_classes }}" id="{{ snippet_id }}" {% if aria_role != blank %}role="{{ aria_role }}"{% endif %}>

  <div class="{{ snippet_name }}__media">
    {% if media_image %}
      {%- liquid
        capture aos_attrs
          render 'aos-attributes', anchor: aos_id, delay: aos_delay, transition: 'fade-up'
        endcapture
        assign aos_delay = aos_delay | plus: aos_delay_increment
      -%}
      <div class="{{ snippet_name }}__media-image" {{ aos_attrs }}>
        {% if content_link != blank %}
          <a class="{{ snippet_name }}__media-link link" href="{{ content_link }}" target="{{ content_link_target }}" title="{{ content_heading }}">
        {% endif %}
          {% render 'lazyload-image', image: media_image %}
          {% unless 'none' == media_badge %}
            <div class="{{ snippet_name }}__media-badge">
              {% capture badge_type %}badge.{{ media_badge }}{% endcapture %}
              {% render 'svg', type: badge_type %}
            </div>
          {% endunless %}
        {% if content_link != blank %}
          </a>
        {% endif %}
      </div>
    {% endif %}
  </div>

  <div class="{{ snippet_name }}__content">

    {% if content_heading != blank %}
      {%- liquid
        capture aos_attrs
          render 'aos-attributes', anchor: aos_id, delay: aos_delay, transition: 'fade-left'
        endcapture
        assign aos_delay = aos_delay | plus: aos_delay_increment
      -%}
      <strong class="{{ snippet_name }}__content-heading" {{ aos_attrs }}>{{ content_heading }}</strong>
    {% endif %}

    {% if content_message != blank %}
      {%- liquid
        capture aos_attrs
          render 'aos-attributes', anchor: aos_id, delay: aos_delay, transition: 'fade-left'
        endcapture
        assign aos_delay = aos_delay | plus: aos_delay_increment
      -%}
      <div class="{{ snippet_name }}__content-message" {{ aos_attrs }}>{{ content_message }}</div>
    {% endif %}

    {% if content_link != blank %}
      {%- liquid
        capture aos_attrs
          render 'aos-attributes', anchor: aos_id, delay: aos_delay, transition: 'fade-right'
        endcapture
        assign aos_delay = aos_delay | plus: aos_delay_increment
      -%}
      <div class="{{ snippet_name }}__content-cta" {{ aos_attrs }}>
        <a class="{{ snippet_name }}__content-cta-link link" href="{{ content_link }}" target="{{ content_link_target }}" title="{{ content_heading }}">
          <div class="button--svg d-lg-none">{% render 'svg', type: 'button.shop-now.sm' %}</div>
          <div class="button--svg d-none d-lg-block">{% render 'svg', type: 'button.shop-now.md' %}</div>
        </a>
      </div>
    {% endif %}

  </div>

</div>
