{%- if paginate and paginate.parts.size > 0 -%}

  {%- liquid

    assign snippet_name = 'pagination'
    assign snippet_classes = classes | default: snippet_name

    assign aos_attrs = aos_attrs | default: ''
    assign price = product.price
    assign price_compare_at = product.compare_at_price

  -%}

  <nav class="{{ snippet_classes }}" role="navigation" aria-label="{{ template.name | capitalize }} Pagination">

    <div class="{{ snippet_name }}__item previous d-none">
      {%- if paginate.previous -%}
        <a class="{{ snippet_name}}__link link" href="{{ paginate.previous.url }}{{ anchor }}">Previous</a>
      {%- endif -%}
    </div>

    {%- for part in paginate.parts -%}
      <div class="{{ snippet_name }}__item page">
        {%- if part.is_link -%}
          <a class="{{ snippet_name}}__link link" href="{{ part.url }}{{ anchor }}">{{ part.title }}</a>
        {%- else -%}
          {%- if part.title == paginate.current_page -%}
            <span class="{{ snippet_name}}__item-value">{{ part.title }}</span>
          {%- else -%}
            <span class="{{ snippet_name}}__item-value">{{ part.title }}</span>
          {%- endif -%}
        {%- endif -%}
      </div>
    {%- endfor -%}

    <div class="{{ snippet_name }}__item next d-none">
      {%- if paginate.next -%}
        <a class="{{ snippet_name}}__link link" href="{{ paginate.next.url }}{{ anchor }}">Next</a>
      {%- endif -%}
    </div>

  </nav>

{%- endif -%}
