{%- if paginate and paginate.parts.size > 0 -%}

  {%- liquid

    assign snippet_name = 'pagination'
    assign snippet_classes = classes | default: snippet_name

    assign aos_attrs = aos_attrs | default: ''

  -%}

  <nav class="{{ snippet_classes }}" role="navigation" aria-label="{{ template.name | capitalize }} Pagination">

    <div class="{{ snippet_name }}__item previous d-none">
      {%- if paginate.previous -%}
        <a class="{{ snippet_name}}__link link" href="{{ paginate.previous.url }}{{ anchor }}">Previous</a>
      {%- endif -%}
    </div>

    {%- for part in paginate.parts -%}

      {%- liquid

        assign is_link = part.is_link | default: false
        assign page_title = part.title
        assign page_url = part.url
        assign current_page_title = paginate.current_page
        assign current_page = false

        if page_title == current_page_title
          assign current_page = true
        endif

      -%}

      <div class="{{ snippet_name }}__item page">
        {%- if is_link -%}
          <a class="{{ snippet_name}}__link link" href="{{ page_url }}">
            <span class="{{ snippet_name}}__page">{{ page_title }}</span>
          </a>
        {%- else -%}
          <span class="{{ snippet_name}}__page{% if current_page %} current-page{% endif %}">{{ page_title }}</span>
        {%- endif -%}
      </div>
    {%- endfor -%}

    <div class="{{ snippet_name }}__item next d-none">
      {%- if paginate.next -%}
        <a class="{{ snippet_name}}__link link" href="{{ paginate.next.url }}{{ anchor }}">Next</a>
      {%- endif -%}
    </div>

  </nav>

{%- endif -%}
