{% assign section_name = 'announcements' %}
{% assign section_id = section_name | append: '--' | append: section.id %}

{% assign announcements = section.blocks | where: 'type', 'announcement' | default: false %}
{% assign is_carousel = false %}

<div class="{{ section_name }}__main{% if sticky %} sticky{% endif %}">

  {% if announcements.size > 1 %}
    {% assign is_carousel = true %}
  {% endif %}

  {% if announcements %}
    {% for block in announcements %}
      {% assign title = block.settings.title | default: '' %}
      {% if title != blank %}
        <div class="{{ section_name }}__item">{{ title }}</div>
      {% endif %}
    {% endfor %}
  {% endif %}

</div>

<script>
  var element = document.getElementById('shopify-section-announcements') || false;
  var settings = {
    enable: {{ section.settings.enable | default: false | json }},
    stickty: {{ section.settings.sticky | default: false | json }},
  };
  console.log({ element, settings });
  if ( element ) {
    if ( settings.enable ) element.classList.add('enabled');
    if ( settings.stickty ) element.classList.add('sticky');
  }
</script>

{% schema %}
  {
    "name": "Announcements",
    "tag": "section",
    "class": "announcements",
    "settings": [
      {
  		  "label": "Enable",
        "type": "checkbox",
        "default": true,
        "id": "enable"
      },
      {
  		  "label": "Sticky",
        "type": "checkbox",
        "default": true,
        "id": "sticky"
      }
    ],
	  "blocks": [
      {
        "name": "Announcement",
        "type": "announcement",
        "limit": 3,
        "settings": [
          {
            "label": "Title",
            "type": "text",
            "id": "title"
          }
        ]
      }
    ]
  }
{% endschema %}
