{%- liquid

  assign section_name = 'awards'
  assign section_classes = section_name
  assign section_id = section_name | append: '--' | append: section.id

  assign aos_id = snippet_id
  assign aos_delay = 250
  assign aos_delay_increment = 250

  assign section_awards = section.blocks | where: 'type', "award"
  assign section_card_aspect_ratio_desktop = section.settings.card_aspect_ratio_desktop | default: ''
  assign section_card_aspect_ratio_mobile = section.settings.card_aspect_ratio_mobile | default: ''

  assign section_carousel_animation_duration = section.settings.carousel_animation_duration | default: 450
  assign section_carousel_autoplay = section.settings.carousel_autoplay | default: 3500
  assign section_carousel_gap = section.settings.carousel_gap | default: 28
  assign section_carousel_id = section_id | append: '--glide'
  assign section_carousel_pagination = section.settings.carousel_pagination | default: false
  assign section_carousel_style = section_name

  assign section_container = section.settings.container | default: 'container'
  assign section_glider_id = section_id | append: '--glider'
  assign section_grid_gap = section.settings.grid_gap | default: '20'

-%}

{%- if section_awards.size > 0 -%}

  {%- style -%}

    {%- if section_card_aspect_ratio_mobile and section_card_aspect_ratio_mobile != blank -%}
      #{{ section_id }} .card-award {
        aspect-ratio: {{ section_card_aspect_ratio_mobile }};
      }
    {%- endif -%}

    #{{ section_id }} .{{ section_name }}__grid {
      gap: {{ section_grid_gap }}px;
    }

    @media screen and (min-width: 992px) {
      {%- if section_card_aspect_ratio_desktop and section_card_aspect_ratio_desktop != blank -%}
        #{{ section_id }} .card-award {
          aspect-ratio: {{ section_card_aspect_ratio_desktop }};
        }
      {%- endif -%}
    }

    {%
      render 'element-styles',
        background: section.settings.background,
        background_image: section.settings.background_image,
        background_image_position_desktop: section.settings.background_image_position_desktop,
        background_image_position_mobile: section.settings.background_image_position_mobile,
        background_image_repeat: section.settings.background_image_repeat,
        background_image_size: section.settings.background_image_size,
        border_bottom: section.settings.border_bottom,
        border_top: section.settings.border_top,
        id: section_id,
        padding_bottom: section.settings.padding_bottom,
        padding_top: section.settings.padding_top
    -%}

  {%- endstyle -%}

  <div class="{{ section_classes }}" id="{{ section_id }}">
    <div class="{{ section_name }}__main">

      <div class="{{ section_name }}__heading">
        {%- render 'svg', type: 'heading.awards' -%}
      </div>

      <div
        class="{{ section_name }}__glide glide js--glide d-lg-none"
        data-glide-animation-duration="{{ section_carousel_animation_duration }}"
        data-glide-autoplay="{{ section_carousel_autoplay }}"
        data-glide-gap="{{ section_carousel_gap }}"
        data-glide-style="{{ section_carousel_style }}"
        id="{{ section_carousel_id }}"
      >

        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            {%- for item in section_awards -%}
              <li class="glide__slide">
                {%- render 'card-award', card_item: item -%}
              </li>
            {%- endfor -%}
          </ul>
        </div>

        {%- if section_carousel_pagination -%}
          <div class="glide__bullets" data-glide-el="controls[nav]">
            {%- for item in section_awards -%}
              <button class="glide__bullet button" type="button" data-glide-dir="={{ forloop.index0 }}">
                {%- render 'svg', type: 'icon.pagination' -%}
              </button>
            {%- endfor -%}
          </div>
        {%- endif -%}

      </div>

      <div class="{{ section_name }}__grid grid--3 d-none d-lg-grid" role="list">
        {%- for item in section_awards -%}
          {%- capture snippet_classes -%}{{ section_name }}__item card-award{%- endcapture -%}
          {%- render 'card-award', card_aria_role: 'lisitem', card_item: item, classes: snippet_classes -%}
        {%- endfor -%}
      </div>

    </div>
  </div>

{%- endif -%}

{%- schema -%}
{
  "name": "Awards",
  "tag": "section",
  "class": "section section--awards",
  "settings": [
    {
      "content": "Settings",
      "type": "header"
    },
    {
      "content": "Anchor",
      "type": "header"
    },
    {
      "label": "Anchor ID",
      "info": "Optionally include a unique ID so that sections within the page can be linked to. Anchor IDs must be all lowercase, unique and replaced empty spaces with hyphens. For example: my-great-section-anchor",
      "type": "text",
      "id": "anchor_id"
    },
    {
      "label": "Background",
      "type": "select",
      "options": [
        { "label": "Image", "value": "image" },
        { "label": "Lemon", "value": "lemon" },
        { "label": "Lime", "value": "lime" },
        { "label": "Mango", "value": "mango" },
        { "label": "None", "value": "none" },
        { "label": "Orange", "value": "orange" },
        { "label": "Strawberry", "value": "strawberry" }
      ],
      "default": "none",
      "id": "background"
    },
    {
      "label": "Background Image",
      "type": "image_picker",
      "id": "background_image"
    },
    {
      "label": "Background Image Position (Mobile)",
      "type": "select",
      "options": [
        { "label": "Top Left", "value": "top left" },
        { "label": "Top Center", "value": "top center" },
        { "label": "Top Right", "value": "top right" },
        { "label": "Center Left", "value": "center left" },
        { "label": "Center Center", "value": "center center" },
        { "label": "Center Right", "value": "center right" },
        { "label": "Bottom Left", "value": "bottom left" },
        { "label": "Bottom Center", "value": "bottom center" },
        { "label": "Bottom Right", "value": "bottom right" }
      ],
      "default": "center center",
      "id": "background_image_position_mobile"
    },
    {
      "label": "Background Image Position (Desktop)",
      "type": "select",
      "options": [
        { "label": "Top Left", "value": "top left" },
        { "label": "Top Center", "value": "top center" },
        { "label": "Top Right", "value": "top right" },
        { "label": "Center Left", "value": "center left" },
        { "label": "Center Center", "value": "center center" },
        { "label": "Center Right", "value": "center right" },
        { "label": "Bottom Left", "value": "bottom left" },
        { "label": "Bottom Center", "value": "bottom center" },
        { "label": "Bottom Right", "value": "bottom right" }
      ],
      "default": "center center",
      "id": "background_image_position_desktop"
    },
    {
      "label": "Background Image Repeat",
      "type": "select",
      "options": [
        { "label": "No Repeat", "value": "no-repeat" },
        { "label": "Repeat", "value": "repeat" }
      ],
      "default": "repeat",
      "id": "background_image_repeat"
    },
    {
      "label": "Background Image Size",
      "type": "select",
      "options": [
        { "label": "Contain", "value": "contain" },
        { "label": "Cover", "value": "cover" }
      ],
      "default": "cover",
      "id": "background_image_size"
    },
    {
      "content": "Border",
      "type": "header"
    },
    {
      "label": "Top Border",
      "type": "checkbox",
      "default": false,
      "id": "border_top"
    },
    {
      "label": "Bottom Border",
      "type": "checkbox",
      "default": false,
      "id": "border_bottom"
    },
    {
      "content": "Card",
      "type": "header"
    },
    {
      "label": "Card Aspect Ratio (Mobile)",
      "info": "Optionally include an aspect ratio for the card's dimensions for consistent user experience on smaller devices.",
      "type": "text",
      "id": "card_aspect_ratio_mobile"
    },
    {
      "label": "Card Aspect Ratio (Desktop)",
      "info": "Optionally include an aspect ratio for the card's dimensions for consistent user experience on larger devices.",
      "type": "text",
      "id": "card_aspect_ratio_desktop"
    },
    {
      "content": "Carousel",
      "type": "header"
    },
    {
      "label": "Enable Pagination",
      "type": "checkbox",
      "default": false,
      "id": "carousel_pagination"
    },
    {
      "label": "Carousel Autoplay",
      "info": "Time in milliseconds before a slide changes. Set to '0' to disable autoplay.",
      "type": "range",
      "min": 0,
      "max": 8000,
      "step": 250,
      "default": 3000,
      "id": "carousel_autoplay"
    },
    {
      "label": "Carousel Animation Duration",
      "info": "Duration of the slide transition animation in milliseconds.",
      "type": "range",
      "min": 250,
      "max": 3500,
      "step": 50,
      "default": 450,
      "id": "carousel_animation_duration"
    },
    {
      "label": "Carousel Slide Gap",
      "type": "range",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 20,
      "id": "carousel_gap"
    },
    {
      "content": "Grid",
      "type": "header"
    },
    {
      "label": "Grid Gap",
      "type": "range",
      "min": 0,
      "max": 60,
      "step": 1,
      "unit": "px",
      "default": 20,
      "id": "grid_gap"
    },
    {
      "content": "Padding",
      "type": "header"
    },
    {
      "label": "Top Padding",
      "type": "range",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "default": 36,
      "id": "padding_top"
    },
    {
      "label": "Bottom Padding",
      "type": "range",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "default": 36,
      "id": "padding_bottom"
    }
  ],
  "blocks": [
    {
      "name": "Award",
      "type": "award",
      "limit": 9,
      "settings": [
        {
          "content": "Content",
          "type": "header"
        },
        {
          "label": "Icon",
          "type": "image_picker",
          "id": "icon"
        },
        {
          "label": "Title",
          "type": "text",
          "id": "title"
        },
        {
          "label": "Details",
          "type": "richtext",
          "id": "details"
        },
        {
          "label": "Footnote",
          "type": "text",
          "id": "footnote"
        },
        {
          "content": "Settings",
          "type": "header"
        },
        {
          "label": "Background",
          "type": "select",
          "options": [
            { "label": "Lemon", "value": "lemon" },
            { "label": "Lime", "value": "lime" },
            { "label": "Mango", "value": "mango" },
            { "label": "Orange", "value": "orange" },
            { "label": "Strawberry", "value": "strawberry" }
          ],
          "default": "lemon",
          "id": "background"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Awards",
      "blocks": [
        { "type": "award" },
        { "type": "award" },
        { "type": "award" }
      ]
    }
  ]
}
{%- endschema -%}
