{%- liquid

  assign section_name = 'featured-yuzu-sake-fizz'
  assign section_classes = section_name | append: ' fifty-fifty'
  assign section_id = section_name | append: '--' | append: section.id

  assign aos_delay = 250
  assign aos_delay_increment = 250
  assign aos_id = section_id

  assign section_product = section.settings.product | default: false
  assign section_background = section.settings.background | default: 'lemon'

  assign section_content_heading = section.settings.heading | default: section_product.title
  assign section_content_link = section.settings.cta_link | default: section_product.url
  assign section_content_link_target = '_self'
  assign section_content_message = section.settings.message | default: section_product.description
  assign section_content_order = 2
  assign section_content_pairings = section_product.metafields.sake_fizz.pairings | default: ''
  assign section_content_tasting_notes = section_product.metafields.sake_fizz.tasting_notes | default: ''

  if section_content_link contains 'http'
    assign section_content_link_target = '_blank'
  endif

  assign section_media_badge = section.settings.badge | default: 'none'
  assign section_media_image = section.settings.image | default: section_product.featured_image
  assign section_media_order = 1

  if 'content' == section.blocks.first.type
    assign section_content_order = 1
    assign section_media_order = 2
  endif

-%}

{%- style -%}

  #{{ section_id }} .fifty-fifty__content {
    background: var(--theme-colour--{{ section_background }});
  }

  @media screen and (min-width: 992px) {
    #{{ section_id }} .fifty-fifty__text {
      order: {{ section_content_order }};
    }
    #{{ section_id }} .fifty-fifty__image {
      order: {{ section_media_order }};
    }
  }

  {%
    render 'element-styles',
      border_bottom: section.settings.border_bottom,
      border_top: section.settings.border_top,
      id: section_id
  %}

{%- endstyle -%}

<div class="{{ section_classes }}" id="{{ section_id }}">
  <div class="fifty-fifty__main text--uppercase">

    <div class="fifty-fifty__item image">
      <div class="fifty-fifty__content">
        {% if section_media_image %}
          {%- liquid
            capture aos_attrs
              render 'aos-attributes', anchor: aos_id, delay: aos_delay, transition: 'fade-up'
            endcapture
            assign aos_delay = aos_delay | plus: aos_delay_increment
          -%}
          <div class="fifty-fifty__image" {{ aos_attrs }}>
            {% if section_content_link != blank %}
              <a class="fifty-fifty__image-link link" href="{{ section_content_link }}" target="{{ section_content_link_target }}" title="{{ section_content_heading }}">
            {% endif %}
              {% render 'lazyload-image', image: section_media_image %}
              {% unless 'none' == section_media_badge %}
                <div class="fifty-fifty__image-badge">
                  {% capture badge_type %}badge.{{ section_media_badge }}{% endcapture %}
                  {% render 'svg', type: badge_type %}
                </div>
              {% endunless %}
            {% if section_content_link != blank %}
              </a>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>

    <div class="fifty-fifty__item text">
      <div class="fifty-fifty__content">

        {% if section_content_heading != blank or section_content_message != blank %}
          <div class="{{ section_name }}__content-main">

            {% if section_content_heading != blank %}
              {%- liquid
                capture aos_attrs
                  render 'aos-attributes', anchor: aos_id, delay: aos_delay, transition: 'fade-left'
                endcapture
                assign aos_delay = aos_delay | plus: aos_delay_increment
              -%}
              <strong class="{{ section_name }}__content-main-heading fifty-fifty__content-heading" {{ aos_attrs }}>{{ section_content_heading }}</strong>
            {% endif %}

            {% if section_content_message != blank %}
              {%- liquid
                capture aos_attrs
                  render 'aos-attributes', anchor: aos_id, delay: aos_delay, transition: 'fade-left'
                endcapture
                assign aos_delay = aos_delay | plus: aos_delay_increment
              -%}
              <div class="{{ section_name }}__content-main-message fifty-fifty__content-message body-copy--secondary" {{ aos_attrs }}>{{ section_content_message }}</div>
            {% endif %}

            {% if section_content_link != blank %}
              {%- liquid
                capture aos_attrs
                  render 'aos-attributes', anchor: aos_id, delay: aos_delay, transition: 'fade-right'
                endcapture
                assign aos_delay = aos_delay | plus: aos_delay_increment
              -%}
              <div class="{{ section_name }}__content-main-cta fifty-fifty__content-cta d-md-none" {{ aos_attrs }}>
                <a class="{{ section_name }}__content-main-cta-link fifty-fifty__content-cta-link link" href="{{ section_content_link }}" target="{{ section_content_link_target }}" title="{{ section_content_heading }}">
                  <div class="button--svg d-lg-none">{% render 'svg', type: 'button.shop-now.sm' %}</div>
                  <div class="button--svg d-none d-lg-block">{% render 'svg', type: 'button.shop-now.md' %}</div>
                </a>
              </div>
            {% endif %}

          </div>
        {% endif %}

        {% if section_content_pairings != blank or section_content_tasting_notes != blank %}
          <div class="{{ section_name }}__content-extras">
            {% if section_content_tasting_notes != blank %}
              {%- liquid
                capture aos_attrs
                  render 'aos-attributes', anchor: aos_id, delay: aos_delay, transition: 'fade-left'
                endcapture
                assign aos_delay = aos_delay | plus: aos_delay_increment
              -%}
              <div class="{{ section_name }}__content-extras-block" {{ aos_attrs }}>
                <strong class="{{ section_name }}__content-extras-heading heading--primary">Tasting Notes:</strong>
                <div class="{{ section_name }}__content-extras-message">{{ section_content_tasting_notes }}</div>
              </div>
            {% endif %}
            {% if section_content_pairings != blank %}
              {%- liquid
                capture aos_attrs
                  render 'aos-attributes', anchor: aos_id, delay: aos_delay, transition: 'fade-left'
                endcapture
                assign aos_delay = aos_delay | plus: aos_delay_increment
              -%}
              <div class="{{ section_name }}__content-extras-block" {{ aos_attrs }}>
                <strong class="{{ section_name }}__content-extras-heading heading--primary">Pairings:</strong>
                <div class="{{ section_name }}__content-extras-message">{{ section_content_pairings }}</div>
              </div>
            {% endif %}
          </div>
        {% endif %}

        {% if section_content_link != blank %}
          {%- liquid
            capture aos_attrs
              render 'aos-attributes', anchor: aos_id, delay: aos_delay, transition: 'fade-left'
            endcapture
            assign aos_delay = aos_delay | plus: aos_delay_increment
          -%}
          <div class="{{ section_name }}__content-cta fifty-fifty__content-cta d-none d-md-block" {{ aos_attrs }}>
            <a class="{{ section_name }}__content-cta-link fifty-fifty__content-cta-link link" href="{{ section_content_link }}" target="{{ section_content_link_target }}" title="{{ section_content_heading }}">
              <div class="button--svg d-lg-none">{% render 'svg', type: 'button.shop-now.sm' %}</div>
              <div class="button--svg d-none d-lg-block">{% render 'svg', type: 'button.shop-now.md' %}</div>
            </a>
          </div>
        {% endif %}

      </div>
    </div>

  </div>
</div>

{% schema %}
{
  "name": "Featured Yuzu Sake Fizz",
  "tag": "section",
  "class": "section section--featured-yuzu-sake-fizz",
  "settings": [
    {
      "content": "Product",
      "type": "header"
    },
    {
      "label": "Product",
      "type": "product",
      "id": "product"
    },
    {
      "content": "By default, the section will automatically pull details from the selected product. To customize, and override this automation, update the corresponding fields below.",
      "type": "paragraph"
    },
    {
      "label": "Badge",
      "info": "Optionally select a badge to pair with the product image.",
      "type": "select",
      "options": [
        { "label": "Hot", "value": "hot" },
        { "label": "None", "value": "none" }
      ],
      "default": "none",
      "id": "badge"
    },
    {
      "label": "Heading",
      "info": "Optionally override the product title.",
      "type": "text",
      "id": "heading"
    },
    {
      "label": "Image",
      "info": "Optionally override the product's featured image.",
      "type": "image_picker",
      "id": "image"
    },
    {
      "label": "Message",
      "info": "Optionally override the product description.",
      "type": "richtext",
      "id": "message"
    },
    {
      "content": "Call to Action",
      "type": "header"
    },
    {
      "label": "Link",
      "info": "Optionally override the link to the product.",
      "type": "url",
      "id": "cta_link"
    },
    {
      "content": "Settings",
      "type": "header"
    },
    {
      "content": "Anchor",
      "type": "header"
    },
    {
      "label": "Anchor ID",
      "info": "Optionally include a unique ID so that sections within the page can be linked to. Anchor IDs must be all lowercase, unique and replaced empty spaces with hyphens. For example: my-great-section-anchor",
      "type": "text",
      "id": "anchor_id"
    },
    {
      "label": "Background",
      "type": "select",
      "options": [
        { "label": "Lemon", "value": "lemon" },
        { "label": "Lime", "value": "lime" },
        { "label": "Mango", "value": "mango" },
        { "label": "Orange", "value": "orange" },
        { "label": "Strawberry", "value": "strawberry" }
      ],
      "default": "orange",
      "id": "background"
    },
    {
      "content": "Border",
      "type": "header"
    },
    {
      "label": "Top Border",
      "type": "checkbox",
      "default": false,
      "id": "border_top"
    },
    {
      "label": "Bottom Border",
      "type": "checkbox",
      "default": false,
      "id": "border_bottom"
    }
  ],
  "blocks": [
    {
      "name": "Content",
      "type": "content",
      "limit": 1,
      "settings": []
    },
    {
      "name": "Media",
      "type": "media",
      "limit": 1,
      "settings": []
    }
  ],
  "presets": [
    {
      "name": "Featured Yuzu Sake Fizz",
      "blocks": [
        { "type": "media" },
        { "type": "content" }
      ]
    }
  ]
}
{% endschema %}
