{%- liquid

  assign section_name = 'featured-yuzu-sake-fizz'
  assign section_classes = section_name | append: ' fifty-fifty'
  assign section_id = section_name | append: '--' | append: section.id

  assign aos_delay = 250
  assign aos_delay_increment = 250
  assign aos_id = section_id

  assign section_anchor = section.settings.anchor_id | default: ''
  assign section_blocks = section.blocks | default: false
  assign section_container = section.settings.container | default: 'full-width'
  assign section_product = section.settings.product | default: false
  assign section_product_pairings = section_product.metafields.sake_fizz.pairings | default: ''
  assign section_product_tasting_notes = section_product.metafields.sake_fizz.tasting_notes | default: ''
  assign section_background = section.settings.background | default: 'lemon'

-%}

{%- if section_blocks.size > 0 -%}

  {%- style -%}
    {%-
      render 'element-styles',
        border_bottom: section.settings.border_bottom,
        border_top: section.settings.border_top,
        id: section_id
    -%}
  {%- endstyle -%}

  <div class="{{ section_classes }}" id="{{ section_id }}">
    {%- render 'bs-container', state: 'open', col: 'col-12', container: section_container -%}
      <div class="fifty-fifty__main text--uppercase">
        {%- for block in section_blocks -%}

          {%- liquid
            assign block_id = 'block--' | append: block.id
            assign block_type = block.type
          -%}

          {% if 'text' == block_type %}
            {%- style -%}
              {%-
                render 'element-styles',
                  background: block.settings.background,
                  id: block_id
              -%}
            {%- endstyle -%}
          {%- endif -%}

          <div class="fifty-fifty__item {{ block_type }}" id="{{ block_id }}">
            <div class="fifty-fifty__content">

              {% case block_type %}
                {% when 'image' %}

                  {%- liquid
                    assign image = block.settings.image | default: section.settings.product.featured_image
                  -%}
                  {%- if image -%}
                    {%- liquid
                      capture aos_attrs
                        render 'aos-attributes', anchor: block_id, delay: aos_delay, transition: 'fade-up'
                      endcapture
                      assign aos_delay = aos_delay | plus: aos_delay_increment
                    -%}
                    <div class="fifty-fifty__image" {{ aos_attrs }}>
                      {% render 'lazyload-image', image: image %}
                    </div>
                  {%- endif -%}

                {% when 'text' %}

                  {%- liquid

                    assign cta_colour = block.settings.cta_colour | default: 'white'
                    assign cta_link = block.settings.cta_link | default: section_product.url
                    assign cta_link_target = '_self'
                    assign cta_type = block.settings.cta_type | default: 'learn-more'

                    assign heading = block.settings.heading | default: section_product.title
                    assign heading_size = block.settings.heading_size | default: 'md'

                    assign message = block.settings.message | default: ''
                    assign message_size = block.settings.message_size | default: 'sm'

                    assign pairings = block.settings.pairings | default: section_product.metafields.sake_fizz.pairings
                    assign tasting_notes = block.settings.tasting_notes | default: section_product.metafields.sake_fizz.tasting_notes

                    if cta_link contains 'http'
                      assign cta_link_target = '_blank'
                    endif

                    if 'buy-now' == cta_type
                      assign cta_link_title = 'Buy Now'
                    elsif 'shop-now' == cta_type
                      assign cta_link_title = 'Shop Now'
                    else
                      assign cta_link_title = 'Learn More'
                    endif

                  -%}

                  <div class="fifty-fifty__content-row flex">
                    {% if heading and heading != blank %}
                      {%- liquid
                        capture aos_attrs
                          render 'aos-attributes', anchor: block_id, delay: aos_delay, transition: 'fade-left'
                        endcapture
                        assign aos_delay = aos_delay | plus: aos_delay_increment
                      -%}
                      <h2 class="fifty-fifty__heading heading--primary heading--{{ heading_size }}-fluid" {{ aos_attrs }}>{{ heading }}</h2>
                    {% endif %}
                    {% if message != blank %}
                      {%- liquid
                        capture aos_attrs
                          render 'aos-attributes', anchor: block_id, delay: aos_delay, transition: 'fade-left'
                        endcapture
                        assign aos_delay = aos_delay | plus: aos_delay_increment
                      -%}
                      <div class="fifty-fifty__message body-copy--secondary body-copy--{{ message_size }}-fluid" {{ aos_attrs }}>{{ message }}</div>
                    {% endif %}
                    {% if cta_link != blank %}
                      {%- liquid
                        capture aos_attrs
                          render 'aos-attributes', anchor: block_id, delay: aos_delay, transition: 'fade-right'
                        endcapture
                        assign aos_delay = aos_delay | plus: aos_delay_increment
                      -%}
                      {% capture button_type %}button.{{ cta_type }}{% endcapture %}
                      <div class="fifty-fifty__cta d-lg-none" {{ aos_attrs }}>
                        <a class="fifty-fifty__cta-button button button--svg button--svg-fill-{{ cta_colour }}" href="{{ cta_link }}" target="{{ cta_link_target }}" title="{{ cta_link_title }}">
                          {% render 'svg', type: button_type %}
                        </a>
                      </div>
                    {% endif %}
                  </div>

                  <div class="fifty-fifty__content-row grid">
                    {% if tasting_notes and tasting_notes != blank %}
                      {%- liquid
                        capture aos_attrs
                          render 'aos-attributes', anchor: block_id, delay: aos_delay, transition: 'fade-left'
                        endcapture
                        assign aos_delay = aos_delay | plus: aos_delay_increment
                      -%}
                      <div class="fifty-fifty__content-cell">
                        <strong class="fifty-fifty__subheading heading--primary body-copy--lg-fluid">Tasting Notes:</strong>
                        <div class="fifty-fifty__extras body-copy--primary body-copy--sm-fluid" {{ aos_attrs }}>{{ tasting_notes }}</div>
                      </div>
                    {% endif %}
                    {% if pairings and pairings != blank %}
                      {%- liquid
                        capture aos_attrs
                          render 'aos-attributes', anchor: block_id, delay: aos_delay, transition: 'fade-left'
                        endcapture
                        assign aos_delay = aos_delay | plus: aos_delay_increment
                      -%}
                      <div class="fifty-fifty__content-cell">
                        <strong class="fifty-fifty__subheading heading--primary body-copy--lg-fluid">Pairings:</strong>
                        <div class="fifty-fifty__extras body-copy--primary body-copy--sm-fluid" {{ aos_attrs }}>{{ pairings }}</div>
                      </div>
                    {% endif %}
                  </div>

                  <div class="fifty-fifty__content-row d-none d-lg-grid">
                    {% if cta_link != blank %}
                      {% capture button_type %}button.{{ cta_type }}{% endcapture %}
                      <div class="{{ section_name }}__cta" {{ aos_attrs }}>
                        <a class="{{ section_name }}__cta-button button button--svg button--svg-fill-{{ cta_colour }}" href="{{ cta_link }}" target="{{ cta_link_target }}" title="{{ cta_link_title }}">
                          {% render 'svg', type: button_type %}
                        </a>
                      </div>
                    {% endif %}
                  </div>

              {% endcase %}

            </div>
          </div>

        {%- endfor -%}

      </div>
    {%- render 'bs-container', state: 'closed', col: 'col-12', container: section_container -%}
  </div>

{%- endif -%}

{% schema %}
{
  "name": "Featured Yuzu Sake Fizz",
  "tag": "section",
  "class": "section section--featured-yuzu-sake-fizz",
  "settings": [
    {
      "content": "Product",
      "type": "header"
    },
    {
      "content": "This section will automatically try and reference as much content as possible from the selected product except for the 'Message' field.",
      "type": "paragraph"
    },
    {
      "label": "Product",
      "type": "product",
      "id": "product"
    },
    {
      "content": "Settings",
      "type": "header"
    },
    {
      "content": "Anchor",
      "type": "header"
    },
    {
      "label": "Anchor ID",
      "info": "Optionally include a unique ID so that sections within the page can be linked to. Anchor IDs must be all lowercase, unique and replaced empty spaces with hyphens. For example: my-great-section-anchor",
      "type": "text",
      "id": "anchor_id"
    },
    {
      "content": "Border",
      "type": "header"
    },
    {
      "label": "Top Border",
      "type": "checkbox",
      "default": false,
      "id": "border_top"
    },
    {
      "label": "Bottom Border",
      "type": "checkbox",
      "default": false,
      "id": "border_bottom"
    }
  ],
  "blocks": [
    {
      "name": "Image",
      "type": "image",
      "limit": 1,
      "settings": [
        {
          "label": "Image",
          "info": "Optionally override the selected product's featured image.",
          "type": "image_picker",
          "id": "image"
        }
      ]
    },
    {
      "name": "Text",
      "type": "text",
      "limit": 1,
      "settings": [
        {
          "content": "Content",
          "type": "header"
        },
        {
          "label": "Heading",
          "info": "Optionally override the selected product's tile.",
          "type": "text",
          "id": "heading"
        },
        {
          "label": "Heading Size",
          "type": "select",
          "options": [
            { "label": "Large", "value": "lg" },
            { "label": "Medium", "value": "md" },
            { "label": "Small", "value": "sm" }
          ],
          "default": "sm",
          "id": "heading_size"
        },
        {
          "label": "Message",
          "type": "richtext",
          "id": "message"
        },
        {
          "label": "Message Size",
          "type": "select",
          "options": [
            { "label": "Large", "value": "lg" },
            { "label": "Medium", "value": "md" },
            { "label": "Small", "value": "sm" }
          ],
          "default": "sm",
          "id": "message_size"
        },
        {
          "label": "Tasting Notes",
          "info": "Optionally override the selected product's tasting notes.",
          "type": "richtext",
          "id": "tasting_notes"
        },
        {
          "label": "Pairings",
          "info": "Optionally override the selected product's pairings.",
          "type": "richtext",
          "id": "pairings"
        },
        {
          "content": "Call to Action",
          "type": "header"
        },
        {
          "label": "CTA Link",
          "info": "Optionally override the link to the selected product.",
          "type": "url",
          "id": "cta_link"
        },
        {
          "label": "CTA Type",
          "type": "select",
          "options": [
            { "label": "Buy Now", "value": "buy-now" },
            { "label": "Shop Now", "value": "shop-now" },
            { "label": "Learn More", "value": "learn-more" }
          ],
          "default": "learn-more",
          "id": "cta_type"
        },
        {
          "label": "CTA Colour",
          "type": "select",
          "options": [
            { "label": "Lemon", "value": "lemon" },
            { "label": "Lime", "value": "lime" },
            { "label": "Mango", "value": "mango" },
            { "label": "Orange", "value": "orange" },
            { "label": "Strawberry", "value": "strawberry" },
            { "label": "White", "value": "white" }
          ],
          "default": "white",
          "id": "cta_colour"
        },
        {
          "content": "Settings",
          "type": "header"
        },
        {
          "label": "Background",
          "type": "select",
          "options": [
            { "label": "Lemon", "value": "lemon" },
            { "label": "Lime", "value": "lime" },
            { "label": "Mango", "value": "mango" },
            { "label": "Orange", "value": "orange" },
            { "label": "Strawberry", "value": "strawberry" }
          ],
          "default": "lemon",
          "id": "background"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Yuzu Sake Fizz",
      "blocks": [
        { "type": "image" },
        { "type": "text" }
      ]
    }
  ]
}
{% endschema %}
