{%- liquid

  assign section_name = 'featured-yuzu-sake-fizz'
  assign section_classes = section_name | append: ' fifty-fifty'
  assign section_id = section_name | append: '--' | append: section.id

  assign section_product = section.settings.product | defaul: false
  assign section_background = section.settings.background | defaul: 'lemon'

  assign section_content_heading = section.settings.heading | default: section_product.title
  assign section_content_link = section.settings.cta_link | default: section_product.url
  assign section_content_link_target = '_self'
  assign section_content_message = section.settings.message | default: section_product.description
  assign section_content_order = 2

  if section_content_link contains 'http'
    assign section_content_link_target = '_blank'
  endif

  assign section_section_media_badge = section.settings.badge | default: 'none'
  assign section_media_image = section.settings.image | default: section_product.featured_image
  assign section_media_order = 1

  if 'content' == section.blocks.first.type
    assign section_content_order = 1
    assign section_media_order = 2
  endif

-%}

{% capture snippet_classes %}{{ section_name }}__main fifty-fifty{% endcapture %}
{% capture snippet_id %}{{ section_id }}--fifty-fifty{% endcapture %}

{%- style -%}

  #{{ section_id }} .fifty-fifty__content {
    background: var(--theme-colour--{{ section_background }});
  }

  @media screen and (min-width: 992px) {
    #{{ section_id }} .fifty-fifty__content {
      order: {{ section_content_order }};
    }
    #{{ section_id }} .fifty-fifty__media {
      order: {{ section_media_order }};
    }
  }

  {%
    render 'element-styles',
      border_bottom: section.settings.border_bottom,
      border_top: section.settings.border_top,
      id: section_id
  %}

{%- endstyle -%}

<div class="{{ section_classes }}" id="{{ section_id }}">
  <div class="{{ snippet_name }}__media fifty-fifty__media">
    {% if section_media_image %}
      {%- liquid
        capture aos_attrs
          render 'aos-attributes', anchor: aos_id, delay: aos_delay, transition: 'fade-up'
        endcapture
        assign aos_delay = aos_delay | plus: aos_delay_increment
      -%}
      <div class="{{ snippet_name }}__media-image fifty-fifty__media-image" {{ aos_attrs }}>
        {% if section_content_link != blank %}
          <a class="{{ snippet_name }}__media-image-link fifty-fifty__media-image-link link" href="{{ section_content_link }}" target="{{ section_content_link_target }}" title="{{ content_heading }}">
        {% endif %}
          {% render 'lazyload-image', image: section_media_image %}
          {% unless 'none' == section_media_badge %}
            <div class="{{ snippet_name }}__media-badge fifty-fifty__media-badge">
              {% capture badge_type %}badge.{{ section_media_badge }}{% endcapture %}
              {% render 'svg', type: badge_type %}
            </div>
          {% endunless %}
        {% if section_content_link != blank %}
          </a>
        {% endif %}
      </div>
    {% endif %}
  </div>
  <div class="{{ snippet_name }}__content fifty-fifty__content">

    {% if content_heading != blank %}
      {%- liquid
        capture aos_attrs
          render 'aos-attributes', anchor: aos_id, delay: aos_delay, transition: 'fade-left'
        endcapture
        assign aos_delay = aos_delay | plus: aos_delay_increment
      -%}
      <strong class="{{ snippet_name }}__content-heading fifty-fifty__content-heading" {{ aos_attrs }}>{{ content_heading }}</strong>
    {% endif %}

    {% if content_message != blank %}
      {%- liquid
        capture aos_attrs
          render 'aos-attributes', anchor: aos_id, delay: aos_delay, transition: 'fade-left'
        endcapture
        assign aos_delay = aos_delay | plus: aos_delay_increment
      -%}
      <div class="{{ snippet_name }}__content-message fifty-fifty__content-message" {{ aos_attrs }}>{{ content_message }}</div>
    {% endif %}

    {% if content_link != blank %}
      {%- liquid
        capture aos_attrs
          render 'aos-attributes', anchor: aos_id, delay: aos_delay, transition: 'fade-right'
        endcapture
        assign aos_delay = aos_delay | plus: aos_delay_increment
      -%}
      <div class="{{ snippet_name }}__content-cta fifty-fifty__content-cta" {{ aos_attrs }}>
        <a class="{{ snippet_name }}__cta-link fifty-fifty__content-cta-link link" href="{{ content_link }}" target="{{ content_link_target }}" title="{{ content_heading }}">
          <div class="button--svg d-lg-none">{% render 'svg', type: 'button.shop-now.sm' %}</div>
          <div class="button--svg d-none d-lg-block">{% render 'svg', type: 'button.shop-now.md' %}</div>
        </a>
      </div>
    {% endif %}

  </div>
</div>

{% schema %}
{
  "name": "Featured Yuzu Sake Fizz",
  "tag": "section",
  "class": "section section--featured-yuzu-sake-fizz",
  "settings": [
    {
      "content": "Product",
      "type": "header"
    },
    {
      "label": "Product",
      "type": "product",
      "id": "product"
    },
    {
      "content": "By default, the section will automatically pulled details from the selected product. To customize, and override this automation, update the corresponding fields below.",
      "type": "paragraph"
    },
    {
      "label": "Badge",
      "info": "Optionally select a badge to pair with the product image.",
      "type": "select",
      "options": [
        { "label": "Hot", "value": "hot" },
        { "label": "None", "value": "none" }
      ],
      "default": "none",
      "id": "badge"
    },
    {
      "label": "Heading",
      "info": "Optionally override the product title.",
      "type": "text",
      "id": "heading"
    },
    {
      "label": "Image",
      "info": "Optionally override the product's featured image.",
      "type": "image_picker",
      "id": "image"
    },
    {
      "label": "Message",
      "info": "Optionally override the product description.",
      "type": "richtext",
      "id": "message"
    },
    {
      "content": "Call to Action",
      "type": "header"
    },
    {
      "label": "Link",
      "info": "Optionally override the link to the product.",
      "type": "url",
      "id": "cta_link"
    },
    {
      "content": "Settings",
      "type": "header"
    },
    {
      "content": "Anchor",
      "type": "header"
    },
    {
      "label": "Anchor ID",
      "info": "Optionally include a unique ID so that sections within the page can be linked to. Anchor IDs must be all lowercase, unique and replaced empty spaces with hyphens. For example: my-great-section-anchor",
      "type": "text",
      "id": "anchor_id"
    },
    {
      "label": "Background",
      "type": "select",
      "options": [
        { "label": "Lemon", "value": "lemon" },
        { "label": "Lime", "value": "lime" },
        { "label": "Mango", "value": "mango" },
        { "label": "Orange", "value": "orange" },
        { "label": "Strawberry", "value": "strawberry" }
      ],
      "default": "orange",
      "id": "background"
    },
    {
      "content": "Border",
      "type": "header"
    },
    {
      "label": "Top Border",
      "type": "checkbox",
      "default": false,
      "id": "border_top"
    },
    {
      "label": "Bottom Border",
      "type": "checkbox",
      "default": false,
      "id": "border_bottom"
    }
  ],
  "blocks": [
    {
      "name": "Content",
      "type": "content",
      "limit": 1,
      "settings": []
    },
    {
      "name": "Media",
      "type": "media",
      "limit": 1,
      "settings": []
    }
  ],
  "presets": [
    {
      "name": "Featured Yuzu Sake Fizz",
      "blocks": [
        { "type": "media" },
        { "type": "content" }
      ]
    }
  ]
}
{% endschema %}
