{%- liquid

  assign section_name = 'fifty-fifty'
  assign section_classes = section_name
  assign section_id = section_name | append: '--' | append: section.id

  assign aos_delay = 250
  assign aos_delay_increment = 250
  assign aos_id = section_id

  assign section_anchor = section.settings.anchor_id | default: ''
  assign section_blocks = section.blocks | default: false
  assign section_container = section.settings.container | default: 'full-width'

-%}

{%- if section_blocks.size > 0 -%}

  {%- style -%}
    {%
      render 'element-styles',
        border_bottom: section.settings.border_bottom,
        border_top: section.settings.border_top,
        id: section_id
    -%}
  {%- endstyle -%}

  <div class="{{ section_classes }}" id="{{ section_id }}">
    {%- render 'bs-container', state: 'open', col: 'col-12', container: section_container -%}
      <div class="{{ section_name }}__main text--uppercase">
        {%- for block in section_blocks -%}

          {% assign block_id = 'block--' | append: block.id %}
          {%- style -%}
            #{{ block_id }} .{{ section_name }}__content {
              text-align: {{ block.settings.text_align_mobile | default: 'initial' }};
              width: {{ block.settings.width }}%;
            }
            @media screen and (min-width: 992px) {
              #{{ block_id }} .{{ section_name }}__content {
                text-align: {{ block.settings.text_align_desktop | default: 'initial' }};
              }
            }
            {%-
              render 'element-styles',
                background: block.settings.background,
                background_image: block.settings.background_image,
                background_image_position_desktop: block.settings.background_image_position_desktop,
                background_image_position_mobile: block.settings.background_image_position_mobile,
                background_image_repeat: block.settings.background_image_repeat,
                background_image_size: block.settings.background_image_size,
                id: block_id,
                padding_bottom: block.settings.padding_bottom,
                padding_top: block.settings.padding_top
            -%}
          {%- endstyle -%}

          <div class="{{ section_name }}__item {{ block.type }}" id="{{ block_id }}">

            <div class="{{ section_name }}__content">
              {% case block.type %}
                {% when 'image' %}

                  {%- liquid
                    assign image = block.settings.image | default: false
                    assign image_border = block.settings.image_border | default: false
                  -%}
                  {% if image %}
                    {%- liquid
                      capture aos_attrs
                        render 'aos-attributes', anchor: block_id, delay: aos_delay, transition: 'fade-up'
                      endcapture
                      assign aos_delay = aos_delay | plus: aos_delay_increment
                    -%}
                    <div class="{{ section_name }}__image{% if image_border %} with-border{% endif %}" {{ aos_attrs }}>
                      {% render 'lazyload-image', image: image %}
                    </div>
                  {% endif %}

                {% when 'text' %}

                  {%- liquid
                    assign heading = block.settings.heading | default: ''
                    assign heading_size = block.settings.heading_size | default: 'md'
                    assign message = block.settings.message | default: ''
                    assign message_size = block.settings.message_size | default: 'sm'
                    assign subheading = block.settings.subheading | default: ''
                  -%}
                  {% if heading != blank %}
                    {%- liquid
                      capture aos_attrs
                        render 'aos-attributes', anchor: block_id, delay: aos_delay, transition: 'fade-left'
                      endcapture
                      assign aos_delay = aos_delay | plus: aos_delay_increment
                    -%}
                    <h2 class="{{ section_name }}__heading heading--primary heading--{{ heading_size }}-fluid" {{ aos_attrs }}>{{ heading }}</h2>
                  {% endif %}
                  {% if message != blank %}
                    {%- liquid
                      capture aos_attrs
                        render 'aos-attributes', anchor: block_id, delay: aos_delay, transition: 'fade-left'
                      endcapture
                      assign aos_delay = aos_delay | plus: aos_delay_increment
                    -%}
                    <div class="{{ section_name }}__message body-copy--primary body-copy--{{ message_size }}-fluid" {{ aos_attrs }}>{{ message }}</div>
                  {% endif %}

              {% endcase %}
            </div>

          </div>
        {%- endfor -%}
      </div>
    {%- render 'bs-container', state: 'closed', col: 'col-12', container: section_container -%}
  </div>

{%- endif -%}

{%- schema -%}
{
  "name": "Fifty-Fifty",
  "tag": "section",
  "class": "section section--fifty-fifty",
  "max_blocks": 2,
  "settings": [
    {
      "content": "Settings",
      "type": "header"
    },
    {
      "content": "Anchor",
      "type": "header"
    },
    {
      "label": "Anchor ID",
      "info": "Optionally include a unique ID so that sections within the page can be linked to. Anchor IDs must be all lowercase, unique and replaced empty spaces with hyphens. For example: my-great-section-anchor",
      "type": "text",
      "id": "anchor_id"
    },
    {
      "content": "Border",
      "type": "header"
    },
    {
      "label": "Top Border",
      "type": "checkbox",
      "default": false,
      "id": "border_top"
    },
    {
      "label": "Bottom Border",
      "type": "checkbox",
      "default": false,
      "id": "border_bottom"
    }
  ],
  "blocks": [
    {
      "name": "Image",
      "type": "image",
      "settings": [
        {
          "content": "Content",
          "type": "header"
        },
        {
          "label": "Image",
          "type": "image_picker",
          "id": "image"
        },
        {
          "label": "Image Border",
          "type": "checkbox",
          "default": false,
          "id": "image_border"
        },
        {
          "label": "Image Badge",
          "type": "select",
          "options": [
            { "label": "Hot", "value": "hot" },
            { "label": "None", "value": "none" }
          ],
          "default": "none",
          "id": "image_badge"
        },
        {
          "content": "Settings",
          "type": "header"
        },
        {
          "label": "Background",
          "type": "select",
          "options": [
            { "label": "Image", "value": "image" },
            { "label": "Lemon", "value": "lemon" },
            { "label": "Lime", "value": "lime" },
            { "label": "Mango", "value": "mango" },
            { "label": "None", "value": "none" },
            { "label": "Orange", "value": "orange" },
            { "label": "Strawberry", "value": "strawberry" }
          ],
          "default": "none",
          "id": "background"
        },
        {
          "label": "Background Image",
          "type": "image_picker",
          "id": "background_image"
        },
        {
          "label": "Background Image Position (Mobile)",
          "type": "select",
          "options": [
            { "label": "Top Left", "value": "top left" },
            { "label": "Top Center", "value": "top center" },
            { "label": "Top Right", "value": "top right" },
            { "label": "Center Left", "value": "center left" },
            { "label": "Center Center", "value": "center center" },
            { "label": "Center Right", "value": "center right" },
            { "label": "Bottom Left", "value": "bottom left" },
            { "label": "Bottom Center", "value": "bottom center" },
            { "label": "Bottom Right", "value": "bottom right" }
          ],
          "default": "center center",
          "id": "background_image_position_mobile"
        },
        {
          "label": "Background Image Position (Desktop)",
          "type": "select",
          "options": [
            { "label": "Top Left", "value": "top left" },
            { "label": "Top Center", "value": "top center" },
            { "label": "Top Right", "value": "top right" },
            { "label": "Center Left", "value": "center left" },
            { "label": "Center Center", "value": "center center" },
            { "label": "Center Right", "value": "center right" },
            { "label": "Bottom Left", "value": "bottom left" },
            { "label": "Bottom Center", "value": "bottom center" },
            { "label": "Bottom Right", "value": "bottom right" }
          ],
          "default": "center center",
          "id": "background_image_position_desktop"
        },
        {
          "label": "Background Image Repeat",
          "type": "select",
          "options": [
            { "label": "No Repeat", "value": "no-repeat" },
            { "label": "Repeat", "value": "repeat" }
          ],
          "default": "no-repeat",
          "id": "background_image_repeat"
        },
        {
          "label": "Background Image Size",
          "type": "select",
          "options": [
            { "label": "100px", "value": "100px" },
            { "label": "200px", "value": "200px" },
            { "label": "300px", "value": "300px" },
            { "label": "400px", "value": "400px" },
            { "label": "500px", "value": "500px" },
            { "label": "Auto", "value": "auto" },
            { "label": "Contain", "value": "contain" },
            { "label": "Cover", "value": "cover" }
          ],
          "default": "cover",
          "id": "background_image_size"
        },
        {
          "content": "Padding",
          "type": "header"
        },
        {
          "label": "Top Padding",
          "type": "range",
          "min": 0,
          "max": 200,
          "step": 4,
          "unit": "px",
          "default": 0,
          "id": "padding_top"
        },
        {
          "label": "Bottom Padding",
          "type": "range",
          "min": 0,
          "max": 200,
          "step": 4,
          "unit": "px",
          "default": 0,
          "id": "padding_bottom"
        },
        {
          "content": "Width",
          "type": "header"
        },
        {
          "label": "Width",
          "type": "range",
          "min": 50,
          "max": 100,
          "step": 1,
          "default": 100,
          "id": "width"
        }
      ]
    },
    {
      "name": "Text",
      "type": "text",
      "settings": [
        {
          "content": "Content",
          "type": "header"
        },
        {
          "label": "Heading",
          "type": "text",
          "id": "heading"
        },
        {
          "label": "Heading Size",
          "type": "select",
          "options": [
            { "label": "Large", "value": "lg" },
            { "label": "Medium", "value": "md" },
            { "label": "Small", "value": "sm" }
          ],
          "default": "sm",
          "id": "heading_size"
        },
        {
          "label": "Message",
          "type": "richtext",
          "id": "message"
        },
        {
          "label": "Message Size",
          "type": "select",
          "options": [
            { "label": "Large", "value": "lg" },
            { "label": "Medium", "value": "md" },
            { "label": "Small", "value": "sm" }
          ],
          "default": "sm",
          "id": "message_size"
        },
        {
          "content": "Call to Action",
          "type": "header"
        },
        {
          "label": "CTA Link",
          "type": "url",
          "id": "cta_link"
        },
        {
          "label": "CTA Type",
          "type": "select",
          "options": [
            { "label": "Buy Now", "value": "buy-now" },
            { "label": "Shop Now", "value": "shop-now" },
            { "label": "Learn More", "value": "learn-more" }
          ],
          "default": "learn-more",
          "id": "cta_type"
        },
        {
          "content": "Settings",
          "type": "header"
        },
        {
          "label": "Background",
          "type": "select",
          "options": [
            { "label": "Image", "value": "image" },
            { "label": "Lemon", "value": "lemon" },
            { "label": "Lime", "value": "lime" },
            { "label": "Mango", "value": "mango" },
            { "label": "Orange", "value": "orange" },
            { "label": "Strawberry", "value": "strawberry" }
          ],
          "default": "lemon",
          "id": "background"
        },
        {
          "label": "Background Image",
          "type": "image_picker",
          "id": "background_image"
        },
        {
          "label": "Background Image Position (Mobile)",
          "type": "select",
          "options": [
            { "label": "Top Left", "value": "top left" },
            { "label": "Top Center", "value": "top center" },
            { "label": "Top Right", "value": "top right" },
            { "label": "Center Left", "value": "center left" },
            { "label": "Center Center", "value": "center center" },
            { "label": "Center Right", "value": "center right" },
            { "label": "Bottom Left", "value": "bottom left" },
            { "label": "Bottom Center", "value": "bottom center" },
            { "label": "Bottom Right", "value": "bottom right" }
          ],
          "default": "center center",
          "id": "background_image_position_mobile"
        },
        {
          "label": "Background Image Position (Desktop)",
          "type": "select",
          "options": [
            { "label": "Top Left", "value": "top left" },
            { "label": "Top Center", "value": "top center" },
            { "label": "Top Right", "value": "top right" },
            { "label": "Center Left", "value": "center left" },
            { "label": "Center Center", "value": "center center" },
            { "label": "Center Right", "value": "center right" },
            { "label": "Bottom Left", "value": "bottom left" },
            { "label": "Bottom Center", "value": "bottom center" },
            { "label": "Bottom Right", "value": "bottom right" }
          ],
          "default": "center center",
          "id": "background_image_position_desktop"
        },
        {
          "label": "Background Image Repeat",
          "type": "select",
          "options": [
            { "label": "No Repeat", "value": "no-repeat" },
            { "label": "Repeat", "value": "repeat" }
          ],
          "default": "no-repeat",
          "id": "background_image_repeat"
        },
        {
          "label": "Background Image Size",
          "type": "select",
          "options": [
            { "label": "100px", "value": "100px" },
            { "label": "200px", "value": "200px" },
            { "label": "300px", "value": "300px" },
            { "label": "400px", "value": "400px" },
            { "label": "500px", "value": "500px" },
            { "label": "Auto", "value": "auto" },
            { "label": "Contain", "value": "contain" },
            { "label": "Cover", "value": "cover" }
          ],
          "default": "cover",
          "id": "background_image_size"
        },
        {
          "content": "Padding",
          "type": "header"
        },
        {
          "label": "Top Padding",
          "type": "range",
          "min": 0,
          "max": 200,
          "step": 4,
          "unit": "px",
          "default": 56,
          "id": "padding_top"
        },
        {
          "label": "Bottom Padding",
          "type": "range",
          "min": 0,
          "max": 200,
          "step": 4,
          "unit": "px",
          "default": 56,
          "id": "padding_bottom"
        },
        {
          "content": "Text",
          "type": "header"
        },
        {
          "label": "Text Alignment (Mobile)",
          "type": "select",
          "options": [
            { "label": "Left", "value": "left" },
            { "label": "Center", "value": "center" },
            { "label": "Right", "value": "right" }
          ],
          "default": "center",
          "id": "text_align_mobile"
        },
        {
          "label": "Text Alignment (Desktop)",
          "type": "select",
          "options": [
            { "label": "Left", "value": "left" },
            { "label": "Center", "value": "center" },
            { "label": "Right", "value": "right" }
          ],
          "default": "center",
          "id": "text_align_desktop"
        },
        {
          "content": "Width",
          "type": "header"
        },
        {
          "label": "Width",
          "type": "range",
          "min": 50,
          "max": 100,
          "step": 1,
          "default": 100,
          "id": "width"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Fifty-Fifty",
      "blocks": [
        { "type": "image" },
        { "type": "text" }
      ]
    }
  ]
}
{%- endschema -%}
