{% assign section_name = 'footer' %}
{% assign section_id = section_name | append: '--' | append: section.id %}

{% assign contact_email = section.settings.email | default: '' %}
{% assign contact_phone = section.settings.phone | default: '' %}
{% assign facebook_url = section.settings.facebook_url | default: '' %}
{% assign instagram_url = section.settings.instagram_url | default: '' %}
{% assign twitter_url = ssection.settings.twitter_url | default: '' %}

<div class="{{ section_name }}" id="{{ section_id }}">
  {% render 'bs-container', container: 'container-fluid' %}
    <div class="{{ section_name }}__main">
      <div class="{{ section_name }}__copyright">&copy; {{ "now" | date: "%Y" }} {{ shop.name }}</div>
      <div class="{{ section_name }}__spacer">&#183;</div>
      <div class="{{ section_name }}__social">Follow us <a href="https://www.instagram.com/drinkbilliontrillion/" target="_blank" title="Follow us on Instagram">@drinkbilliontrillion</a></div>
    </div>
  {% render 'bs-container', state: 'closed' %}
</div>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

{% schema %}
  {
    "name": "Footer",
    "tag": "footer",
    "settings": [
      {
        "content": "Contact Info",
        "type": "header"
      },
      {
        "label": "Phone",
        "type": "text",
        "id": "phone"
      },
      {
        "label": "Email",
        "type": "text",
        "id": "email"
      },
      {
        "content": "Social",
        "type": "header"
      },
      {
        "label": "Facebook",
        "type": "text",
        "id": "facebook_url"
      },
       {
        "label": "Instagram",
        "type": "text",
        "id": "instagram_url"
      },
       {
        "label": "Twitter",
        "type": "text",
        "id": "twitter_url"
      }
    ],
	  "blocks": []
  }
{% endschema %}
