{% assign section_name = 'hype-builder' %}
{% assign section_id = section_name | append: '--' | append: section.id %}

{% assign aos_id = section_id | append: '--aos' %}
{% assign aos_delay = 250 %}
{% assign aos_increment = 250 %}

{% assign image = section.settings.image | default: false %}
{% assign image_caption = section.settings.image_caption | default: '' %}

<div class="{{ section_name }}" id="{{ section_id }}">
  <div class="{{ section_name }}__main">
    {% render 'bs-container', state: 'open' %}
      <div class="{{ section_name }}__layout" id="{{ aos_id }}">

        {% if image %}
          <div class="{{ section_name }}__image">
            {% render 'lazyload-image', image: image %}
            {% if image_caption != blank %}
              <div class="{{ section_name }}__image-caption">{{ image_caption }}</div>
            {% endif %}
          </div>
        {% endif %}

      </div>
    {% render 'bs-container', state: 'closed' %}
  </div>
</div>

{% schema %}
{
  "name": "Hype Builder",
  "tag": "section",
  "class": "section section--hype-builder",
  "settings": [
    {
      "content": "Content",
      "type": "header"
    },
    {
      "content": "Media",
      "type": "header"
    },
    {
      "label": "Image",
      "type": "image_picker",
      "id": "image"
    },
    {
      "label": "Caption",
      "type": "text",
      "id": "image_caption"
    }
  ],
  "presets": [
    {
      "name": "Hype Builder"
    }
  ]
}
{% endschema %}
