{%- liquid

  assign section_name = 'hype-builder'
  assign section_id = section_name | append: '--' | append: section.id

  assign aos_id = section_id | append: '--aos'
  assign aos_delay = 250
  assign aos_delay_increment = 250

  assign button_link = section.settings.button_link | default: ''
  assign button_target = '_self'
  assign button_title = section.settings.button_title | default: ''
  assign image = section.settings.image | default: false
  assign image_caption = section.settings.image_caption | default: 'There’s A Whole Lot Of Nothing Out There. Take A Sip Of Something Real.'
  assign newsletter_message = section.settings.newsletter_message | default: 'Sign-up for news and updates!'

  if button_link contains 'http'
    assign button_target = '_blank'
  endif

-%}

<div class='{{ section_name }} development' id='{{ section_id }}'>
  <div class='{{ section_name }}__main'>
      <div class='{{ section_name }}__layout' id='{{ aos_id }}'>

        <div class='{{ section_name }}__content'>

          {% capture aos %}
            {%
              render 'aos-attributes',
              anchor: aos_id,
              anchor_placement: 'top-bottom',
              delay: aos_delay,
              transition: 'fade-down',
            %}
          {% endcapture %}
          {% assign aos_delay = aos_delay | plus: aos_delay_increment %}
          <div class='{{ section_name }}__brand' {{ aos }}>
            <img src='{{ 'BILLION--brand-main.svg' | asset_url }}' />
          </div>

          <div class='{{ section_name }}__newsletter'>

            {% capture aos %}
              {%
                render 'aos-attributes',
                anchor: aos_id,
                anchor_placement: 'top-bottom',
                delay: aos_delay,
                transition: 'fade-right',
              %}
            {% endcapture %}
            {% assign aos_delay = aos_delay | plus: aos_delay_increment %}
            <div class='{{ section_name }}__newsletter-message body-copy--1' {{ aos }}>{{ newsletter_message }}</div>

            {% capture aos %}
              {%
                render 'aos-attributes',
                anchor: aos_id,
                anchor_placement: 'top-bottom',
                delay: aos_delay,
                transition: 'fade-left',
              %}
            {% endcapture %}
            {% assign aos_delay = aos_delay | plus: aos_delay_increment %}
            <div class='{{ section_name }}__newsletter-form' {{ aos }}>
              {% render 'form-newsletter-signup' %}
            </div>

          </div>

        </div>

        {% if image %}
          <div class='{{ section_name }}__media'>

            {% capture aos %}
              {%
                render 'aos-attributes',
                anchor: aos_id,
                anchor_placement: 'top-bottom',
                delay: 350,
                transition: 'fade-up',
              %}
            {% endcapture %}
            <div class='{{ section_name }}__media-image' {{ aos }}>
              {% render 'lazyload-image', image: image %}
            </div>

            <div class='{{ section_name }}__media-content'>

              {% if image_caption != blank %}
                {% capture aos %}
                  {%
                    render 'aos-attributes',
                    anchor: aos_id,
                    anchor_placement: 'top-bottom',
                    delay: 550,
                    transition: 'fade-left',
                  %}
                {% endcapture %}
                <div class='{{ section_name }}__media-caption body-copy--1' {{ aos }}>{{ image_caption }}</div>
              {% endif %}


              <div class='{{ section_name }}__media-details'>

                <div class='{{ section_name }}__media-details-item'>
                  <div class='{{ section_name }}__media-details-value'>6%</div>
                  <div class='{{ section_name }}__media-details-label'>Alc/Vol</div>
                </div>

                <div class='{{ section_name }}__media-details-item'>
                  <div class='{{ section_name }}__media-details-value'>100</div>
                  <div class='{{ section_name }}__media-details-label'>Calories</div>
                </div>

                <div class='{{ section_name }}__media-details-item'>
                  <div class='{{ section_name }}__media-details-value'>100%</div>
                  <div class='{{ section_name }}__media-details-label'>Natural</div>
                </div>
              </div>

              {% if button_link != blank %}
                <div class='{{ section_name }}__media-cta'>
                  <a class='{{ section_name }}__media-button' href='{{ button_link }}' target='{{ button_target }}' title='{{ button_title }}'>
                    {% render 'svg', type: 'button.buy-now' %}
                  </a>
                </div>
              {% endif %}

            </div>

          </div>
        {% endif %}

      </div>
  </div>
</div>

{% schema %}
{
  "name": "Hype Builder",
  "tag": "section",
  "class": "section section--hype-builder hype-builder",
  "settings": [
    {
      "content": "Newsletter",
      "type": "header"
    },
    {
      "label": "Message",
      "info": "For optimal results, keep content within 100 characters.",
      "type": "richtext",
      "id": "newsletter_message"
    },
    {
      "content": "Media",
      "type": "header"
    },
    {
      "label": "Image",
      "type": "image_picker",
      "id": "image"
    },
    {
      "label": "Caption",
      "type": "text",
      "id": "image_caption"
    },
    {
      "content": "Button",
      "type": "header"
    },
    {
      "label": "Title",
      "type": "text",
      "id": "button_title"
    },
    {
      "label": "Link",
      "type": "url",
      "id": "button_link"
    }
  ],
  "presets": [
    {
      "name": "Hype Builder"
    }
  ]
}
{% endschema %}
